@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.full-screen {
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

.contain {
    @apply sm:px-6 lg:px-8 max-w-screen-lg p-5 mx-auto;
}
